html {
  font-size: 10px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;


  @media only screen and (min-width: $breakpoint-xs) {
    font-size: 1.6rem;
  }
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}


// ELEMENTS ========================================================================================

hr {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
}

strong {
  font-weight: 700;
}


// UTILS ===========================================================================================

.hidden {
  display: none;
}
