/* FONTS ======================================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


/* ICONS ======================================================================================== */
// See https://icomoon.io/app/

@font-face {
  font-display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon.eot?uun4t8");
  src: url("../fonts/icomoon.eot?uun4t8#iefix") format("embedded-opentype"),
       url("../fonts/icomoon.ttf?uun4t8") format("truetype"),
       url("../fonts/icomoon.woff?uun4t8") format("woff"),
       url("../fonts/icomoon.svg?uun4t8#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  // Use `!important` to prevent issues with browser extensions that change fonts.
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.icon-facebook:before { content: "\f082"; }
.icon-instagram:before { content: "\f16d"; }
