@mixin clearfix {
  overflow: auto;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}


@mixin container {
  max-width: $container-width;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing);
}


@mixin letter-spacing($spacing) {
  letter-spacing: $spacing;
  margin-right: -#{$spacing};
}


@mixin list-inline($spacing: var(--spacing)) {
  @include list-unstyled;

  margin: 0;
  padding: 0;

  > li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: #{$spacing};
    }
  }
}


@mixin list-uninline {
  > li {
    display: block;

    &:not(:first-child) {
      margin-left: 0;
    }
  }
}


@mixin list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


@mixin transition(
  $props,
  $duration: 300ms,
  $timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  $delay: 0s
) {
  transition-property: #{$props};
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}
