$container-width: 1200px;
$breakpoint-md: 800px;

$primary-color: #00f;


// CSS VARS ========================================================================================

:root {
  --spacing: 1rem;

  --primary-color: #{$primary-color};
  --text-color: #222;
  --background-color: #ff;
}
